*{
    margin:0px;
    padding:0px;
}
li{
    list-style-type: none;
}
li a{
    text-decoration: none;
}
.content{
    display: flex;
}
.side_bar ul li{
    padding:15px;
    border-bottom: 1px solid rgba(240, 233, 248, 0.986);
}
.side_bar ul li a{
	text-align: center;
    color:whitesmoke;
    font-size:x-large;
    display:block;
	margin-top:10px;
    margin-bottom: 10px;
	padding: 20px, 20px;
}
.side_bar ul li:hover a{
    color:black;
}
.side_bar ul li:hover{
    background-color: whitesmoke;
}
.wrapper{
	padding-top: 5px;
	position: relative;
    margin-top: 30px;
}
.wrapper .side_bar{
    width: 200px;
	height: auto;
	background:#353433;
}
.tallies{
    position:relative;
    text-align: center;
    justify-content: center;
}
.table{
    margin-left: auto;
    margin-right: auto;
    font-size: x-large;
    border-collapse:separate;
    border-spacing: 180px 25px;
    padding: 20px;
}