*{
	box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
}
li{
    list-style-type: none;
}
li a{
    text-decoration: none;
}
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: whitesmoke;
	color: black;
}

.logo-link a{
	font-size: 20px;
	color: black;
	margin-left: 10px;
	text-decoration: none;
}

.logo-link{
	font-size: 1.5rem;
	margin: .5rem;
  	text-decoration: none;
  	/* font-family: monospace; */
  	text-transform: uppercase;
}
.logo-link li{
	display: inline-block;
}

.search-profile{
	margin: 0;
	padding: 0;
	display: flex;

}

.logo-link img{
	height: 50px;
	width: 50px;
	
}
.navbar li{
	list-style: none;
}

.navbar li a{
	text-decoration: none;
	color: white;
	padding: 1rem;
	display: block;
}

.search-profile img{
	margin-left: 15px;
	margin-right: 40px;
	height: 50px;
	width: 50px;
	border-radius: 50%;
}
.search-profile form{
	margin-top: 7px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
	background-color: #ddd;
	margin-right: 10px;
}

.profile:hover .dropdown-content {
	display: block;
}
.profile:hover img {
	background-color: #3e8e41;
}
.wrapper {
    display: flex; 
    width: 100%;
    padding-top: 5px;
	position: relative;
    margin-top: 30px;
}

#sidebar {
    width: auto;
    position: fixed;
    top: 80px;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: whitesmoke;
    color: black;
    transition: all 0.3s;
}

.content{
    display: flex;
}
.tallies{
    position:relative;
    text-align: center;
    justify-content: center;
}
.table{
    margin-left: 20px;
    margin-right: 280px;
    font-size: x-large;
    border-collapse:separate;
    border-spacing: 180px 25px;
    padding: 20px;
}
#sidebar ul li{
    padding:15px;
    border-bottom: 1px solid rgba(240, 233, 248, 0.986);
}
#sidebar ul li a{
	text-align: left;
    color:black;
    font-size:large;
    display:block;
	margin-top:10px;
    margin-bottom: 10px;
	padding: 20px, 20px;
}
#sidebar ul li:hover a{
    color:whitesmoke;
}
#sidebar ul li:hover{
    background-color: black;
}
