*{
	box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
}
li{
    list-style-type: none;
}
li a{
    text-decoration: none;
}
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: whitesmoke;
	color: black;
    height:70px;
}

.logo-link{
    margin:0 80px;
    float: left;
	height: 50px;
}

.logo-link a{
    font-size: large;
    color: blue;
	margin: .5rem;
  	text-decoration: none;
  	 font-family: monospace; 
  	text-transform: uppercase;
      padding-left: 20px;
}
.logo-link a:hover{
    color: yellowgreen;
}
.logo-link li{
	display: inline-block;
}

.search-profile{
	margin: 0;
	padding: 0;
	display: flex;

}
.search-profile img{
	margin-left: 15px;
	margin-right: 40px;
	height: 50px;
	width: 50px;
	border-radius: 50%;
}
.search-profile form{
	margin-top: 7px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
	background-color: #ddd;
	margin-right: 10px;
}

.profile:hover .dropdown-content {
	display: block;
}
.profile:hover img {
	background-color: #3e8e41;
}

.wrapper {
    display: flex; 
    width: 23%;
    padding-top: 5px;
	position: relative;
    margin-top: 30px;
}

#sidebar {
    width: auto;
    position: fixed;
    top: 71px;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: whitesmoke;
    color: black;
    transition: all 0.3s;
}
#sidebar ul li{
    padding:15px;
    border-bottom: 1px solid rgba(240, 233, 248, 0.986);
}
#sidebar ul li a{
	text-align: left;
    color:black;
    font-size:large;
    display:block;
	margin-top:10px;
    margin-bottom: 10px;
	padding: 20px, 20px;
}
#sidebar ul li:hover a{
    color:whitesmoke;
}
#sidebar ul li:hover{
    background-color: black;
}
.content{
    display: flex;
}
.container{
    
    margin: 30px;
    height: 100%;
}
.container .row{
    margin-bottom: 30px;
}